@using AchordLira.Models.ViewModels;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        @if (Model != null && Model.artist != null ) 
        {
            <h2>@Model.artist:</h2>
            if (Model != null && Model.artistSongs != null && Model.artistSongs.Count > 0)
            {
                foreach (ViewSong song in Model.artistSongs)
                {
                    <ul class="list-group">
                        <li class="list-group-item clearfix">
                            <a href="@song.link" class="h4 link pull-left" style="text-decoration: none;">@song.artist - @song.name</a>
                        </li>
                    </ul>
                }
            }
            else
            {
                <hr />
                <h4>There are no songs for this artist.</h4>
            }
        }
        else
        {
            <h2>There is no artist.</h2>
        }
    </div>
</div>

