@using AchordLira.Models.ViewModels;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        @if (Model != null && Model.matched != null && Model.text != null)
        {
            <h2>Searched for: "@Model.text"</h2>
            if (Model != null && Model.matched.Count > 0)
            {
                <h4>@Model.matched.Count songs found:</h4>
                <ul class="list-group">
                @foreach (ViewSong song in Model.matched)
                {
                        <li class="list-group-item clearfix">
                            <a href="/Song/?artist=@song.artist&song=@song.name" class="h4 link pull-left" style="text-decoration: none;">@song.artist - @song.name</a>
                        </li>
                }
                </ul>
            }
            else
            {
                <hr />
                <h2 class="text-muted">No results.</h2>
            }
        }
    </div>
</div>