@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-8">
        <div class="jumbotron">
            <h1>Central</h1>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-info">
            <div class="panel-heading">Requests</div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">New songs</div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
    </div>
</div>

